* {
    margin: 0;
    padding: 0; 
 }
 
 .login-form, #fupForm {
     width: 300px;
     margin-left:auto;
     margin-right:auto;
     margin-top: 10px;
     padding-top: 25px;
 }


.buttons
{
    margin-bottom: 20px;
}

/* Gallery style */
#gridview {
    text-align:center; 
 }
 
 div.image {
    margin: 10px;
    display: inline-block; 
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 }
 

 #gridview {
     background-color: #191919;
 }

 section {
    display: inline-flex;
    justify-content: center;
    
 }
 
 div.image {     
    min-width: 0;
    margin: 5px;    
   
 }
 .image img {
    width:400px;
    height: 400px;
    cursor: pointer;
    /* max-width: 100%; 
    max-height: 450px;  */
    object-fit: cover;
    transition: all 0.2s  ease-in-out;
  }
 
 
 div.image img:hover {
     transform: scale(0.9);
     filter: blur(2px);
 }
 
 .heading{    
     padding: 10px 10px;
     border-radius: 2px;
     color: #FFF;
     background: #6aadf1;
     margin-bottom:10px;
     font-size: 1.5em;
 }
 #grid{
     margin-bottom:30px;
 }
 
 /* Responsive Styles */
 
 @media screen and (max-width: 1224px) {
     div.image img {
         width: 300px;
         height: 300px;
     }
 }
 
 @media screen and (min-width: 1044px) and (max-width: 1224px) {
     div.image img{
         width: 250px;
         height: 250px;
     }
 }
 
 @media screen and (min-width: 845px) and (max-width: 1044px) {
     div.image img{
         width: 200px;
         height: 200px;
     }
 }


 