* {
    margin: 0;
    padding: 0; 
 }
 
 .login-form, #fupForm {
     width: 300px;
     margin-left:auto;
     margin-right:auto;
     margin-top: 10px;
     padding-top: 25px;
 }


.buttons
{
    margin-bottom: 20px;
}

